<h2>Show Item</h2>

<ul>

  <li>
    <strong>Item code:</strong>
    <%= @item.item_code %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @item.category %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @item.name %>
  </li>

</ul>

<span><%= link "Edit", to: item_path(@conn, :edit, @item) %></span>
<span><%= link "Back", to: item_path(@conn, :index) %></span>
